.ico_arrow_next {background-image: url('../resources/icon/arrow_next.png') !important;}
.ico_arrow_back {background-image: url('../resources/icon/arrow_back.png') !important;}
.ico_arrow_last {background-image: url('../resources/icon/arrow_last.png') !important;}
.ico_arrow_first {background-image: url('../resources/icon/arrow_first.png') !important;}
.ico_delete_file {background-image: url('../resources/icon/delete_file.png') !important;}
.ico_rotate {background-image: url('../resources/icon/rotate.png') !important;}
.ico_rotateLeft{background-image: url('../resources/icon/rotateLeft.png') !important;}
.ico_rotateRight{background-image: url('../resources/icon/rotateRight.png') !important;}
.ico_doc32 {background-image: url('../resources/icon/doc-32.png') !important;}
.ico_add {background-image: url('../resources/icon/add.png') !important;}
.ico_back {background-image: url('../resources/icon/back.png') !important;}
.ico_run {background-image: url('../resources/icon/run.png') !important;}
.ico_refresh {background-image: url('../resources/icon/refresh.png') !important;}
.ico_execute {
    background-image: url('../resources/icon/execute.png') !important;
}
.ico_exit{background-image: url('../resources/icon/door-open20.png') !important;}
.ico_sign {background-image: url('../resources/icon/sign.png') !important;}
.ico_outdoc{background-image: url('../resources/icon/outdoc.png') !important;}
.ico_importante{background-image: url('../resources/icon/importante.png') !important;}
.ico_done {background-image: url('../resources/icon/done.png') !important;}
.ico_flag_green{background-image: url('../resources/icon/flag_green.png') !important;}
.ico_flag_red{background-image: url('../resources/icon/flag_red.png') !important;}
.ico_flag_yelow{background-image: url('../resources/icon/flag_yelow.png') !important;}
.ico_cancel{background-image: url('../resources/icon/cancel.png') !important; }
.ico_paste{background-image: url('../resources/icon/paste.png')!important;}
.icon_clear{background-image: url('../resources/icon/clear.png')!important;}
.ico_close{background-image: url('../resources/icon/close.png') !important;}
.ico_control{background-image: url('../resources/icon/control.png') !important;}
.ico_doc_check{background-image: url('../resources/icon/doc_check.png') !important;}
.ico_searche{background-image: url('../resources/icon/searche_book.png') !important;}
.ico_newTask{background-image: url('../resources/icon/newtask.png') !important;}
.ico_doc_return{background-image: url('../resources/icon/doc_return.png') !important; }
.ico_on-line{background-image: url('../resources/icon/on-line.png') !important; }
.ico_off-line{background-image: url('../resources/icon/off-line.png') !important; }
.ico_info{background-image: url('../resources/icon/info.png') !important; }
.ico_key{background-image: url('../resources/icon/key.png') !important;} 
.ico_internalDoc {background-image: url('../resources/icon/internalDoc.png') !important;}
.ico_info{background-image: url('../resources/icon/info.png') !important; }
.ico_inspector{background-image: url('../resources/icon/inspector.png') !important;} 
.ico_folder_open{background-image: url('../resources/icon/folder_open.png') !important;} 
.ico_editor{background-image: url('../resources/icon/editor.png') !important;} 

.ico_process{background-image: url('../resources/icon/process.png') !important;}
.ico_task{background-image: url('../resources/icon/newtask.png') !important;}
.ico_document{background-image: url('../resources/icon/document-16.png') !important;}
.ico_subproc{background-image: url('../resources/icon/subproc-16.png') !important;}
.ico_look{background-image: url('../resources/icon/look.png') !important;}

.ico-portfolio-16{background-image: url('../resources/icon/portfolio-16.png') !important;}
.ico_done-16{background-image: url('../resources/icon/done-16.png') !important;}
.ico_clock-16{background-image: url('../resources/icon/clock-16.png') !important;}
.ico_event-16{background-image: url('../resources/icon/event-16.png') !important;}
.ico_refresh-16{background-image: url('../resources/icon/refresh-16.png') !important;}
.ico_loop-16{background-image: url('../resources/icon/refresh-16.png') !important;}
.ico-open-16{background-image: url('../resources/icon/open-16.png') !important;}
.ico_doc-16{background-image: url('../resources/icon/document-16.png') !important;}
.ico_16_inspector{background-image: url('../resources/icon/inspector.png') !important;}
.ico_importance-16{background-image: url('../resources/icon/importance-16.png')!important;}
.ico_doc16 {background-image: url('../resources/icon/doc16.png') !important;}
.ico_exit16 {background-image: url('../resources/icon/exit-16.png') !important;}
.ico_exit-16 {background-image: url('../resources/icon/exit-16.png') !important;}
.ico_enter16 {background-image: url('../resources/icon/enter-16.png') !important;}
.ico_message-16{background-image: url('../resources/icon/msg-16.png') !important;}
.ico_printer-16{background-image: url('../resources/icon/printer-16.png') !important;}
.ico_service-16{background-image: url('../resources/icon/service-16.png') !important;}
.ico_save-16{background-image: url('../resources/icon/save-16.png') !important;}
.ico-play-16{background-image: url('../resources/icon/play-16.png') !important;}
.ico-stop-16{background-image: url('../resources/icon/stop-16.png') !important;}
.ico-task-16{background-image: url('../resources/icon/task-16.png') !important;}
.ico_timer16{background-image: url('../resources/icon/timer-16.png') !important;}
.ico_condition-16{background-image: url('../resources/icon/condition-16.png') !important;}
.ico_control-16{background-image: url('../resources/icon/control-16.png') !important;}
.ico_state-16{background-image: url('../resources/icon/state-16.png') !important;}
.ico_procedure-16{background-image: url('../resources/icon/procedure-16.png') !important;}
.ico_start-16{background-image: url('../resources/icon/start-16.png') !important;}
.ico_folder_open-16{background-image: url('../resources/icon/folder-open-16.png') !important;} 
.ico_folder_add-16{background-image: url('../resources/icon/folder-add-16.png') !important;} 

.ico-open-20{background-image: url('../resources/icon/open-20.png') !important;}
.ico-task-20{background-image: url('../resources/icon/task-20.png') !important;}
.ico_message-20{background-image: url('../resources/icon/msg-20.png') !important;}
.ico_printer-20{background-image: url('../resources/icon/printer-20.png') !important;}
.ico_service-20{background-image: url('../resources/icon/service-20.png') !important;}
.ico_save-20{background-image: url('../resources/icon/save-20.png') !important;}
.ico_exit20 {background-image: url('../resources/icon/exit-20.png') !important;}
.ico_enter20 {background-image: url('../resources/icon/enter-20.png') !important;}
.ico_timer20{background-image: url('../resources/icon/timer-20.png') !important;}
.ico_user20{background-image: url('../resources/icon/user20.png') !important;}
.ico_company20{background-image: url('../resources/icon/company-20.png') !important;}
.ico_importance-20{background-image: url('../resources/icon/importance-20.png') !important;}
