body{
    font-size: smaller;
    margin: 2px;
    height: 100%;
}
.filter-button{
    width: 1.5em !important;
    height: 1.5em !important;
    background: mediumslateblue !important;
}
.panelLogin{
    margin: auto;
    margin-top: 60px !important;
    max-width: 600px;
    min-width: 600px;
    padding: 0em !important;
}
.panelgrid-blank{
    padding: 0em !important;   
}
.logo {
    min-width: 261px;
    height: 79px;        
    background-image: url("data:image/svg+xml,%3Csvg width='261' height='79' viewBox='0 0 261 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M36.8784 75.8786H6.06638C3.83024 75.8786 2.53015 73.9025 2.53015 72.1603C2.53015 71.1203 2.94618 70.2102 3.62222 69.5342L17.0651 56.0913L36.8784 75.8786Z' fill='%23FF4F12'/%3E %3Cpath d='M6.06589 75.8795C3.72574 75.8795 0.839552 74.0074 0.839552 70.3151V28.8944C0.839552 23.3041 0.553534 19.3518 4.55779 15.3736L19.5348 0.370605L46.1345 27.0223L3.62173 69.5351C2.94569 70.2111 2.52966 71.1472 2.52966 72.1612C2.52966 73.9034 3.82974 75.8795 6.06589 75.8795Z' fill='white'/%3E %3Cpath d='M53.5709 65.168H55.521V73.0465C55.6251 72.8125 55.9891 72.2144 55.9891 72.2144L60.3314 65.168H62.3855V75.9067H60.4354V67.9762C60.3314 68.2102 59.9673 68.8082 59.9673 68.8082L55.6251 75.8807H53.5709V65.168Z' fill='white'/%3E %3Cpath d='M63.8417 68.2866H65.7658V71.1208H68.912V68.2866H70.8361V75.8791H68.912V72.8109H65.7658V75.8791H63.8417V68.2866Z' fill='white'/%3E %3Cpath d='M77.6221 76.0352V78.9994H75.75V76.0352C73.3838 75.7492 71.7717 74.2931 71.7717 72.0829C71.7717 69.8728 73.3838 68.4167 75.75 68.1307V65.1665H77.6221V68.1307C79.9883 68.4167 81.6004 69.8728 81.6004 72.0829C81.6004 74.2931 80.0143 75.7492 77.6221 76.0352ZM75.75 74.2151V69.9508C74.5019 70.1588 73.7219 70.8349 73.7219 72.0829C73.7479 73.331 74.5279 74.0071 75.75 74.2151ZM79.6502 72.0829C79.6502 70.8349 78.8702 70.1588 77.6221 69.9508V74.2151C78.8702 74.0071 79.6502 73.331 79.6502 72.0829Z' fill='white'/%3E %3Cpath d='M86.2811 76.0881C84.201 76.0881 82.1208 74.736 82.1208 72.0838C82.1208 69.4057 84.201 68.0796 86.2811 68.0796C88.3613 68.0796 90.4414 69.4317 90.4414 72.0838C90.4414 74.762 88.3613 76.0881 86.2811 76.0881ZM88.4913 72.0838C88.4913 70.6798 87.4252 69.8737 86.3071 69.8737C85.189 69.8737 84.123 70.6798 84.123 72.0838C84.123 73.4879 85.189 74.294 86.3071 74.294C87.4252 74.294 88.4913 73.4879 88.4913 72.0838Z' fill='white'/%3E %3Cpath d='M93.3796 68.2876V69.3797C93.8736 68.6516 94.8617 68.0796 96.0057 68.0796C97.9039 68.0796 99.49 69.5617 99.49 72.0838C99.49 74.528 97.8519 76.0881 95.8237 76.0881C94.7577 76.0881 93.8996 75.6201 93.3536 74.944V79.0003H91.4294V68.2616H93.3796V68.2876ZM93.2496 72.0838C93.2496 73.3319 94.1596 74.294 95.4077 74.294C96.6558 74.294 97.5658 73.3319 97.5658 72.0838C97.5658 70.8358 96.6558 69.8737 95.4077 69.8737C94.1596 69.8737 93.2496 70.8358 93.2496 72.0838Z' fill='white'/%3E %3Cpath d='M100.426 68.2866H102.948L105.054 73.617L107.161 68.2866H109.683V75.8791H107.837V71.0688L105.808 75.8791H104.3L102.272 71.0688V75.8791H100.426V68.2866Z' fill='white'/%3E %3Cpath d='M115.715 74.6829C115.169 75.645 114.259 76.113 113.167 76.113C111.659 76.113 110.619 75.177 110.619 73.7469C110.619 72.1868 111.789 71.4847 113.323 71.2767L115.611 70.9647V70.5747C115.611 69.8466 115.143 69.4306 114.181 69.4306C113.349 69.4306 112.855 69.8206 112.855 70.2886C112.855 70.3406 112.855 70.4446 112.881 70.4966L111.061 70.7047C111.035 70.5747 111.035 70.4186 111.035 70.3146C111.035 69.1446 112.205 68.1045 114.207 68.1045C116.339 68.1045 117.561 69.0146 117.561 70.8607V74.0329C117.561 74.8649 117.639 75.385 117.795 75.905H115.871C115.793 75.567 115.715 75.1509 115.715 74.6829ZM115.611 72.4208V72.2908L113.765 72.5508C112.933 72.6808 112.491 72.9928 112.491 73.6169C112.491 74.2409 112.985 74.5269 113.583 74.5269C114.701 74.5269 115.611 73.9029 115.611 72.4208Z' fill='white'/%3E %3Cpath d='M124.894 75.8791H118.653V68.2866H120.577V74.137H123.594V68.2866H125.518V74.137H126.662V77.6732H124.92V75.8791H124.894Z' fill='white'/%3E %3Cpath d='M127.208 68.2866H129.054V73.3049L132.356 68.2866H134.358V75.8791H132.512V70.8608L129.21 75.8791H127.208V68.2866Z' fill='white'/%3E %3Cpath d='M139.429 76.0881C137.348 76.0881 135.268 74.736 135.268 72.0838C135.268 69.4057 137.348 68.0796 139.429 68.0796C141.509 68.0796 143.589 69.4317 143.589 72.0838C143.589 74.762 141.509 76.0881 139.429 76.0881ZM141.639 72.0838C141.639 70.6798 140.573 69.8737 139.455 69.8737C138.337 69.8737 137.27 70.6798 137.27 72.0838C137.27 73.4879 138.337 74.294 139.455 74.294C140.573 74.294 141.639 73.4879 141.639 72.0838Z' fill='white'/%3E %3Cpath d='M144.499 68.2866H146.423V71.1208H149.569V68.2866H151.494V75.8791H149.569V72.8109H146.423V75.8791H144.499V68.2866Z' fill='white'/%3E %3Cpath d='M152.767 68.2866H154.692V71.1208H157.864V68.2866H159.788V75.8791H157.864V72.8109H154.718V75.8791H152.793V68.2866H152.767Z' fill='white'/%3E %3Cpath d='M161.036 68.2866H162.96V70.7568H164.494C166.262 70.7568 167.51 71.5888 167.51 73.3049C167.51 75.0211 166.262 75.8531 164.494 75.8531H161.036V68.2866ZM164.364 74.423C165.3 74.423 165.664 73.955 165.664 73.3309C165.664 72.7069 165.3 72.2389 164.364 72.2389H162.96V74.423H164.364ZM170.266 68.2866V75.8791H168.342V68.2866H170.266Z' fill='white'/%3E %3Cpath d='M175.129 74.45C176.143 74.45 176.585 74.008 177.053 73.4099L178.587 74.164C177.833 75.4641 176.767 76.0881 175.103 76.0881C172.997 76.0881 171.203 74.476 171.203 72.0838C171.203 69.6657 172.997 68.0796 175.207 68.0796C177.391 68.0796 178.925 69.6657 178.925 71.8758V72.5519H173.075C173.153 73.696 173.985 74.45 175.129 74.45ZM173.075 71.0698H177.105C176.923 70.1077 176.195 69.5357 175.129 69.5357C174.115 69.5357 173.361 70.2117 173.075 71.0698Z' fill='white'/%3E %3Cpath d='M185.27 70.0287H183.007V68.2866H189.482V70.0287H187.22V75.8791H185.296V70.0287H185.27Z' fill='white'/%3E %3Cpath d='M193.46 74.45C194.474 74.45 194.916 74.008 195.384 73.4099L196.919 74.164C196.164 75.4641 195.098 76.0881 193.434 76.0881C191.328 76.0881 189.534 74.476 189.534 72.0838C189.534 69.6657 191.328 68.0796 193.538 68.0796C195.722 68.0796 197.257 69.6657 197.257 71.8758V72.5519H191.406C191.51 73.696 192.342 74.45 193.46 74.45ZM191.406 71.0698H195.436C195.254 70.1077 194.526 69.5357 193.46 69.5357C192.472 69.5357 191.692 70.2117 191.406 71.0698Z' fill='white'/%3E %3Cpath d='M202.015 68.2866H204.251L201.885 71.8228L204.563 75.8791H202.301L200.741 73.3829L199.154 75.8791H196.944L199.727 71.8748L197.282 68.2866H199.492L200.767 70.3147L202.015 68.2866Z' fill='white'/%3E %3Cpath d='M205.005 68.2866H206.929V71.1208H210.076V68.2866H212V75.8791H210.076V72.8109H206.929V75.8791H205.005V68.2866Z' fill='white'/%3E %3Cpath d='M217.096 76.0881C215.015 76.0881 212.935 74.736 212.935 72.0838C212.935 69.4057 215.015 68.0796 217.096 68.0796C219.176 68.0796 221.256 69.4317 221.256 72.0838C221.23 74.762 219.176 76.0881 217.096 76.0881ZM219.28 72.0838C219.28 70.6798 218.214 69.8737 217.096 69.8737C215.977 69.8737 214.911 70.6798 214.911 72.0838C214.911 73.4879 215.977 74.294 217.096 74.294C218.214 74.294 219.28 73.4879 219.28 72.0838Z' fill='white'/%3E %3Cpath d='M221.412 75.8791V74.189C221.412 74.189 221.62 74.293 221.958 74.293C222.426 74.293 222.66 73.981 222.738 72.6029L222.972 68.2866H228.952V75.8791H227.028V70.0287H224.662L224.532 72.6549C224.428 74.839 223.804 75.9831 222.088 75.9831C221.75 75.9831 221.412 75.8791 221.412 75.8791Z' fill='white'/%3E %3Cpath d='M234.049 76.0881C231.969 76.0881 229.888 74.736 229.888 72.0838C229.888 69.4057 231.969 68.0796 234.049 68.0796C236.129 68.0796 238.209 69.4317 238.209 72.0838C238.183 74.762 236.129 76.0881 234.049 76.0881ZM236.233 72.0838C236.233 70.6798 235.167 69.8737 234.049 69.8737C232.931 69.8737 231.865 70.6798 231.865 72.0838C231.865 73.4879 232.931 74.294 234.049 74.294C235.167 74.294 236.233 73.4879 236.233 72.0838Z' fill='white'/%3E %3Cpath d='M239.119 68.2866H244.319V70.0287H241.043V75.8791H239.119V68.2866Z' fill='white'/%3E %3Cpath d='M245.23 68.2866H247.076V73.3049L250.378 68.2866H252.38V75.8791H250.534V70.8608L247.232 75.8791H245.23V68.2866Z' fill='white'/%3E %3Cpath d='M253.602 68.2866H255.448V73.3049L258.75 68.2866H260.753V75.8791H258.906V70.8608L255.604 75.8791H253.602V68.2866Z' fill='white'/%3E %3Cpath d='M182.487 42.6743H178.041L172.71 48.0567V42.6743H168.94V57.4953H172.71V51.3589L178.119 57.4953H182.669L175.675 49.5388L182.487 42.6743Z' fill='white'/%3E %3Cpath d='M63.0875 36.5654H53.5709V57.4968H57.5232V50.1903H63.0875C67.8198 50.1903 70.914 47.7722 70.914 43.3779C70.914 38.9836 67.7938 36.5654 63.0875 36.5654ZM62.9575 46.6801H57.5232V40.1017H62.9575C65.7137 40.1017 66.9618 41.4277 66.9618 43.3779C66.9618 45.354 65.7137 46.6801 62.9575 46.6801Z' fill='white'/%3E %3Cpath d='M79.8325 42.2598C75.7762 42.2598 71.72 44.8859 71.72 50.0863C71.72 55.2866 75.7502 57.9128 79.8325 57.9128C83.8888 57.9128 87.945 55.2866 87.945 50.0863C87.919 44.8859 83.8888 42.2598 79.8325 42.2598ZM79.8325 54.4025C77.6223 54.4025 75.5682 52.8164 75.5682 50.0863C75.5682 47.3561 77.6223 45.77 79.8325 45.77C82.0426 45.77 84.0968 47.3561 84.0968 50.0863C84.0968 52.8164 82.0426 54.4025 79.8325 54.4025Z' fill='white'/%3E %3Cpath d='M97.5398 54.4022C95.2776 54.4022 93.5875 52.7641 93.5875 50.0859C93.5875 47.4597 95.3296 45.7696 97.5398 45.7696C98.8918 45.7696 100.062 46.3937 100.972 47.7978L104.196 45.9516C103.13 43.6375 100.79 42.2334 97.5658 42.2334C93.3535 42.2334 89.7653 45.3536 89.7653 50.0599C89.7653 54.7922 93.1715 57.8864 97.5658 57.8864C100.738 57.8864 102.844 56.4563 104.352 53.9081L101.232 52.192C100.348 53.4921 99.3859 54.4022 97.5398 54.4022Z' fill='white'/%3E %3Cpath d='M137.635 51.0729C137.453 53.335 137.011 53.855 136.23 53.855C135.71 53.855 135.45 53.803 135.086 53.699L135.112 57.5473C135.112 57.5473 135.58 57.6773 136.439 57.6773C139.637 57.6773 140.833 55.6232 141.145 51.2289L141.509 46.0545H145.747V57.4693H149.517V42.6743H138.285L137.635 51.0729Z' fill='white'/%3E %3Cpath d='M126.948 42.2598C122.632 42.2598 119.147 45.406 119.147 50.0863C119.147 54.7926 122.658 57.9128 126.766 57.9128C130.016 57.9128 132.096 56.6907 133.578 54.1425L130.588 52.6604C129.652 53.8305 128.82 54.6886 126.818 54.6886C124.608 54.6886 122.996 53.2585 122.762 50.9703H134.202V49.6442C134.202 45.328 131.212 42.2598 126.948 42.2598ZM122.84 48.1101C123.386 46.446 124.868 45.12 126.844 45.12C128.924 45.12 130.354 46.264 130.692 48.1101H122.84Z' fill='white'/%3E %3Cpath d='M159.424 42.2598C155.108 42.2598 151.624 45.406 151.624 50.0863C151.624 54.7926 155.134 57.9128 159.242 57.9128C162.492 57.9128 164.572 56.6907 166.054 54.1425L163.064 52.6604C162.128 53.8305 161.296 54.6886 159.294 54.6886C157.084 54.6886 155.472 53.2585 155.238 50.9703H166.652V49.6442C166.652 45.328 163.662 42.2598 159.424 42.2598ZM155.29 48.1101C155.836 46.446 157.318 45.12 159.294 45.12C161.374 45.12 162.804 46.264 163.142 48.1101H155.29Z' fill='white'/%3E %3Cpath d='M105.522 45.9505H109.943V57.4953H113.713V45.9505H118.133V42.6743H105.522V45.9505Z' fill='white'/%3E %3Cpath d='M190.158 42.2598C186.102 42.2598 182.045 44.8859 182.045 50.0863C182.045 55.2866 186.076 57.9128 190.158 57.9128C194.24 57.9128 198.27 55.2866 198.27 50.0863C198.244 44.8859 194.214 42.2598 190.158 42.2598ZM190.158 54.4025C187.948 54.4025 185.894 52.8164 185.894 50.0863C185.894 47.3561 187.948 45.77 190.158 45.77C192.368 45.77 194.422 47.3561 194.422 50.0863C194.422 52.8164 192.368 54.4025 190.158 54.4025Z' fill='white'/%3E %3Cpath d='M213.247 42.6743L209.139 53.049L205.057 42.6743H200.142V57.4693H203.731V48.1087L207.683 57.4693H210.621L214.573 48.1087V57.4693H218.162V42.6743H213.247Z' fill='white'/%3E %3C/svg%3E");
    background-repeat: no-repeat;  
}

.logoWrapper {
    background-color: black;
    display: flex;
    align-items: flex-end;
    grid-area: logo;
    height: 90%;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.title{
  font-weight:bold ;  
  font-size: 160%;
}

.table-style {
    width: 100%;
    height: 100%;
}

.ui-tabs-left>.ui-tabs-panels{
    float:left !important;                
}

.ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
}

.ui-panel-content, .ui-widget-content{
    padding-top: 0.1em !important;
    padding-right: 0.2em !important;
    padding-bottom: 0.1em !important;
    padding-left: 0.2em !important; 
}

/*
.ui-dialog-titlebar > .ui-widget-header{
    display: none !important;
}
*/          

.table-style>*>tr>td {
    vertical-align: top ! important;
}

.ui-tabs .ui-tabs-panel{
    padding: 1.0em 0.1em !important;
}

.ui-accordion .ui-accordion-content {
    padding: 0px !important
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none! important;
} 

.col-padding{
    padding-left: 0px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-right: 0px !important;
}

.warning-msg{
    float: right !important;
    text-align: right !important;
    background: yellow !important;
    padding: 5px !important;
}

.without-spaces {
    margin: 0 !important;
    padding: 0 !important;
}

.ui-dialog-content > .ui-icon {
    background-image: url(../resources/icon/importance-16.png) !important;
}

.ui-messages-error ui-corner-all{
    margin: 5px !important;
}

.ui-panelgrid-content {
    border: none !important;
}

.ui-menu{width: auto !important;}
.ui-menuitem-text{
    float: none !important;
    white-space: nowrap !important;
    display: list-item !important;
    margin-right: 2em !important;
    word-wrap: normal !important;
    word-break: normal !important;  
    text-wrap: normal !important;
}
.submenu .ui-menuitem-link > .ui-icon-triangle-1-s{
  display: none !important;
}

.right-aligment {
    text-align: right !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
}
 
.statusWarn{
    background-color: #ffa726;
    border-color: #ffa726;
    padding: 5px;
    border-radius: 5px;
}

.statusInfo{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    padding: 5px;
    border-radius: 5px;
}

.statusFail{
    background-color: darkgray;
    border-color: darkgray;
    padding: 5px;
    border-radius: 5px;
}

.statusCompleted{
    background-color: #9ccc65;
    border-color: #9ccc65;
    padding: 5px;
    border-radius: 5px;
}

.statusCritical{
    background-color: #ef5350;
    border-color: #ef5350;
    padding: 5px;
    border-radius: 5px;
}